@each $bgcolorMap, $value in $bgcolorMap {
  .bg-#{$bgcolorMap} {
    background-color: #{$value} !important;
  }
}

[data-bg-src] {
  @include background-content(no-repeat, cover, center center);
}

.bg-fluid {
  @include background-content(no-repeat, 100% 100%, center center);
}

.bg-auto {
  background-size: auto auto;
}

.bg-fixed {
  background-attachment: fixed;
}


.bg1 {
  background-size: auto auto;
  background-position: top center;
}


.bg2 {
  background-size: 100% calc(100% - 98px);
  background-position: bottom center;
  
  @include lg {
    background-size: auto calc(100% - 98px);
  }
}

.sec-bg3 {
  background-color: transparent;
  background-position: center center;
  background-size: 100% 100%;
  padding-top: 205px;
  padding-bottom: 165px;
}

.sec-bg4 {
  background-color: transparent;
  background-position: center center;
  background-size: 100% 100%;
  width: 100%;
  height: 946px;
  position: absolute;
  left: 0;
  top: -60px;
  z-index: -1;
}

.sec-bg5 {
  padding-top: 380px;
  background-position: bottom center;
}

.sec-bg6 {
  margin-bottom: -250px;
}

.sec-bg7 {
  padding-bottom: 270px;
}

.sec-bg8 {
  margin-top: -140px;
}

.sec-bg9 {
  padding-bottom: 160px;
}

@media (min-width: $xl) {
  .sec-bg10[data-bg-src] {
    background-position: right center;
    background-size: 100% 100%;
  }
}

@include hd-device {
  .bg1 {
    background-size: 100%;
  }
}


@include xl {
  .sec-bg3 {
    padding-top: 130px;
  }
}

@include lg {
  .sec-bg6 {
    margin-bottom: -160px;
  }

  .sec-bg5 {
    padding-top: 290px;
  }

  .sec-bg9 {
    padding-bottom: 160px;
    margin-bottom: -50px;
    margin-top: -70px;
  }

  .sec-bg11[data-bg-src] {
    background-position: right center;
  }
}

@include md {
  .sec-bg5,
  .sec-bg8,
  .sec-bg3 {
    padding-top: 60px;
  }

  .sec-bg6,
  .sec-bg7 {
    padding-bottom: 60px;
  }

  .sec-bg6 {
    margin-bottom: 0;
  }

  .sec-bg8 {
    margin-top: 0;
  }

  .sec-bg9.space-top {
    padding-bottom: 130px;
    margin-bottom: -40px;
    margin-top: -40px;
    padding-top: 110px;
  }
}