.vs-cat-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 23px;

  a {
    color: $title-color;
    text-transform: capitalize;

    &:hover {
      color: $theme-color;
    }
  }
  
  li {
    position: relative;
    margin-bottom: 10px;

    &:before {
      content: '\f30b';
      position: absolute;
      left: -22px;
      font-family: $icon-font;
      color: #d3baba;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.vs-banner-box {
  padding: 80px 90px;
  box-shadow: 0px 11px 39.2px 0.8px rgba(209, 193, 193, 0.2);
  background-color: $white-color;

  &.big-banner {
    min-height: 550px;
  }
}


@include lg {
  .vs-banner-box {
    padding: 50px 60px;
  }

  .vs-cat-list {
    margin-left: 24px;
  }
}



@include xs {
  
  .vs-banner-box {
    padding: 20px 30px;

    &.big-banner {
      min-height: 850px;
    }

    .vs-cat-list {
      li {
        &:before {
          display: none;
        }
      }
    }
  }
}
