.testimonial-style2 {
  margin-bottom: 30px;

  .text {
    font-size: 24px;
  }

  .quote-icon {
    line-height: 1;
    color: #e5d8d8;
    font-weight: 700;
    display: inline-block;
    margin-top: 20px;

  }
  
}

@include sm {
  .testimonial-style2 {
    .text {
      font-size: 18px;
    }
    
    .quote-icon {
      margin-top: 0;
    }
  }
}