.widget_recent_comments {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li:not(:last-child) {
    padding-bottom: 12px;
  }

  a {
    color: $body-color;
    position: relative;

    &:hover {
      color: $theme-color;
    }
  }

  li {
    padding-left: 30px;
    position: relative;
    
    &:before {
      content: '\f086';
      position: absolute;
      left: 0;
      top: 1px;
      color: $theme-color;
      font-family: $icon-font;
    }
  }
}