.widget_recent_entries {
  ul {
    margin: -0.2em 0 0 0;
    padding: 0;
    list-style: none;

    li {
      >a {
        color: $title-color;
        font-weight: 500;

        &:hover {
          color: $theme-color;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.10);
        padding-bottom: 12px;
        margin-bottom: 12px;
      }
    }
  }
  
}
