@media (min-width: $sm) {

  /*-- Padding Left And Right --*/
  @for $i from 1 through $md-space-count {
    .px-md-#{5 * $i} {
      padding-right: 5px *$i;
      padding-left: 5px *$i;
    }
  }

  /*-- Padding Top And Bottom --*/
  @for $i from 1 through $md-space-count {
    .py-md-#{5 * $i} {
      padding-top: 5px *$i;
      padding-bottom: 5px *$i;
    }
  }

  /*-- Padding Top --*/
  @for $i from 1 through $md-space-count {
    .pt-md-#{5 * $i} {
      padding-top: 5px *$i;
    }
  }

  /*-- Padding Bottom --*/
  @for $i from 1 through $md-space-count {
    .pb-md-#{5 * $i} {
      padding-bottom: 5px *$i;
    }
  }

  /*-- Padding Left --*/
  @for $i from 1 through $md-space-count {
    .pl-md-#{5 * $i} {
      padding-left: 5px *$i;
    }
  }

  /*-- Padding Right --*/
  @for $i from 1 through $md-space-count {
    .pr-md-#{5 * $i} {
      padding-right: 5px *$i;
    }
  }

}