.vs-about-wrapper {
  position: relative;
  
  .shape1 {
    position: absolute;
    right: 11%;
    bottom: 20%;
  }
  
  .shape2 {
    position: absolute;
    bottom: -10%;
    right: 0;
  }

  .shape3 {
    position: absolute;
    right: 3.5%;
    top: 5%;
    z-index: -1;
  }

  .shape4 {
    position: absolute;
    left: 0;
    bottom: -18%;
    width: 100%;
    max-width: 40vw;

    @include hd {
      max-width: 22vw;
    }
  }

  .shape5 {
    right: 15%;
    top: 20%;
  }

}

.img-box1 {
  position: relative;
  padding-left: 70px;
  padding-top: 75px;

  .img1 {
    position: absolute;  
    left: 0;
    top: 0;
  }
}

.img-box2 {
  position: relative;

  .img-2 {
    position: absolute;
    top: -18%;
    right: -13%;
    z-index: 2;
  }

  .play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
  }

  @include hd {
    max-width: 550px;
  }
  
}


.img-box3 {
  margin: -80px 0 0 -45px;
}

.img-box4 {
  position: relative;

  .img-1 {
    margin-left: -70px;
  }

  .img-2 {
    position: absolute;
    left: -28%;
    bottom: -3%;
  }

  .content {
    position: absolute;
    left: 5%;
    bottom: 10%;
  }

  .title {
    font-size: 24px;
    font-weight: 700;
    color: #333333; 
    margin: 0 0 12px 0;
  }

  .text {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    max-width: 220px;
    font-weight: 300;
    color: #373737;
  }

}

.img-box5 {
  .img-1 {
    margin: 0 -60px 0 -50px;
    text-align: right;
  }
}

.img-box6 {

  .img-1 {
    display: flex;
    justify-content: flex-end;
    margin: -135px 0 0 0;
    
    img {
      max-width: initial;
    }
  }
}

.counter-style1 {
  span:not(.number) {
    display: block;
    width: 90px;
    height: 90px;
    line-height: 1;
    color: $white-color;
    background-color: $theme-color;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    font-family: $theme-font3;
    border-radius: 10px;
    padding: 14px 0;
    margin-bottom: 2px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .number {
    display: block;
    font-size: 40px;
  }

  span.message {
    display: none;
    line-height: 90px;
    padding: 0;
  }

  &.expired {
    span:not(.number) {
      display: none;
    }
  }
}

.block-step-list {
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 18px;
    font-weight: 500;
    counter-increment: count;
    position: relative;
    margin: 32px 0 32px 0;
    padding: 0 0 0 65px;

    &::before {
      content: counter(count);
      width: 42px;
      height: 42px;
      line-height: 42px;
      background-color: #fcd55c;
      color: #111111;
      font-size: 18px;
      font-weight: 700;
      display: inline-block;
      text-align: center;
      position: absolute;
      left: 0;
      top: -7px;
      border-radius: 50%;
      z-index: 2;
    }

    &:after {
      content: '';
      position: absolute;
      left: 19px;
      top: 8px;
      height: calc(100% + 20px);
      width: 4px;
      background-color: #fcd55c;
      z-index: 1;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}


.block-social {
  --social-color: #214183;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  
  
  a {
    display: inline-block;
    width: 205px;
    height: 65px;
    border: 2px solid var(--social-color);
    background-color: transparent;
    color: $title-color;
    font-size: 16px;
    font-weight: 600;
    padding: 6px;
    text-align: start;
    border-radius: 9999px;

    i {
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      background-color: var(--social-color);
      color: $white-color;
      text-align: center;
      margin: 0 10px 0 0;
      font-size: 18px;
      vertical-align: middle;
      border-radius: 50%;
      transition: all ease 0.4s;
    }

    &:hover {
      background-color: var(--social-color);
      color: $white-color;

      i {
        background-color: $white-color;
        color: var(--social-color);
      }
    }
  }


  .twitter {
    --social-color: #52a7e9;
  }

  .linkedin {
    --social-color: #2975bc;
  }

  .instagram {
    --social-color: #c6397e;
  }

}


.about-features {
  align-items: center;
  display: flex;
  position: relative;
  height: 100%;
  padding: 40px;
  max-height: 330px;

  .bg-icon {
    position: absolute;
    bottom: 20px;
    right: 0;
    opacity: 0.20;
    line-height: 1;
  }
}

.block-list {
  margin: 0 0 53px 0;
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  li {
    position: relative;    
    padding: 0 0 0 24px;
    margin: 0 0 10px 0;

    &:before {
      content: '';
      position: absolute;
      left: 5.5px;
      top: 11px;
      width: 6px;
      height: 6px;
      background-color: #76a713;
      border-radius: 50%;
      box-shadow: 0 0 0 5px rgba(#76a713, 0.30);
    }
  }
}

.block-text {
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 25px 0;
}

.block-schedule {
  display: flex;
  align-items: center;


  >img {
    margin-right: 20px;
  }

  .text {
    color: $title-color;
    font-size: 18px;
    line-height: 36px;
    font-weight: 700;
    max-width: 300px;
    margin: 0;
  }
}

.about-box1 {
  padding: 50px 0 0 85px;
  max-width: 610px;
}

.content-style1 {
  .about-subtitle {
    font-size: 28px;
    font-family: $theme-font3;
    color: $theme-color;
    font-weight: 700;
    display: block;
    margin: 0 0 10px 0;
  }

  .about-title {
    margin: 0 0 13px 0;
    font-size: 34px;
    line-height: 40px;
    max-width: 300px;
  }

  .about-text {
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 34px 0;
  }  

  .about-price {
    font-size: 28px;
    font-weight: 700;
    color: $theme-color;
    line-height: 1;
    display: inline-block;
    margin: 0 37px 0 0;

    del {
      color: #898989;
      font-weight: 600;
      font-size: 18px;
      margin: 0 0 0 10px;
    }
  }

  .product-rating-box {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 3px;
  }


  .vs-btn {
    margin: 32px 0 0 0;
  }

}


.video-box {
  position: relative;
  
  .play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.block-counter {
  .counter-number {
    color: #fcd55c;
    font-size: 65px;
    font-family: $theme-font3;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .counter-text {
    font-size: 18px;
    margin: 0 0 0 0;
    line-height: 1;
  }
}


.about-box2 {
  max-width: 560px;
  margin-left: 85px;

  .sec-title4 {
    margin-bottom: 10px;
    color: $white-color;
  }
  
  .sec-text {
    color: #a0beaa;
    max-width: 470px;
  }  

  .block-counter {
    margin-top: 30px;
  }

  .counter-text {
    color: $white-color;
  }

}


@media (max-width: 1810px) {
  .vs-about-wrapper {
    .shape1 {
      right: 5%;
    }

    .shape3 {
      right: 1%;
      top: 2%;
      max-width: 150px;
    }

    .shape4 {
      max-width: 33vw;
    }
  }
}


@include hd {
  .about-wrap1 {
    .row {
      justify-content: center;
      
      >.col {
        flex: 0 0 auto;
        width: auto;
      }
    }
  }

  .about-title-column {
    margin-left: 0;
  }
  
  .about-text-column {
    margin-left: 0;
    margin-top: 40px;
  }
}


@include xl {
  .vs-about-wrapper {
    .shape1 {
      right: 2%;
    }

    .shape4 {
      bottom: -7%;
    }
  }

  .about-box1 {
    padding: 100px 0 0 0;
  }

  .img-box2 {
    .img-2 {
      top: -12%;
      right: -30px;
    }
  }


  .img-box4 {
    .img-2 {
      position: absolute;
      left: 0;
      bottom: -5%;
    }

    .img-1 {
      margin-left: 0;
    }

    .content {
      left: 30%;
      bottom: 9%;
    }
  }

  .img-box6 {
    .img-1 {
      margin: 0 0 0 -50px;

      img {
        max-width: 100%;
      }
    }
  }

  .about-box2 {
    max-width: 100%;
    margin-left: 0;

    .sec-text {
      max-width: 500px;
    }
  }

  .about-box2 .block-counter {
    margin-top: 10px;
  }

}


@include ml {
  .vs-about-wrapper {
    .container {
      &.pt-70 {
        padding-top: 50px;
      }
    }
  }

  .about-box2 .sec-text {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .img-box6 {
    .img-1 {
      margin: 0 0 0 0;
    }
  }

  .img-box5 {
    .img-1 {
      margin: 0 0 0 0;
      text-align: center;
    }
  }
  
}



@include lg {
  .about-content {
    &.pt-75 {
      padding-top: 0;
    }
  }

  .about-box1 {
    padding: 0 0 0 0;
    max-width: 610px;

    .block-text {
      &:first-child {
        margin-top: -0.5em;
      }
    }
  }

  .img-box1 {
    position: relative;
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 30px;
  }

  .img-box3 {
    margin: 0 0 0 0;
  }

  .about-features {
    padding: 20px;

    .fa-10x {
      font-size: 7rem;
    }
  }

  .vs-about-wrapper {
    .shape4 {
      position: relative;
      left: 0;
      bottom: 0;
      padding: 0 var(--bs-gutter-x, .75rem);
      max-width: 100%;
      width: 100%;
    }
  }


  .about-layout1.bg-fluid {
    background-size: auto auto;
    background-position: left top;
  }

  .block-list {
    margin: 0 0 33px 0;
  }


  .img-box2  {
    .img-2 {
      max-width: 300px;
      top: -32px;
      right: 0;
    }
  }

  .img-box4 {
    .content {
      left: 20%;
      bottom: 9%;
    }
  }

  .block-counter {
    .counter-number {
      font-size: 48px;
    }

    .counter-text {
      font-size: 16px;
    }
  }

  .about-box2 .sec-text {
    max-width: 100%;
  }


}


@include md {
  .img-box1 {
    max-width: 600px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;

    .img1 {
      left: 20%;
    }
  }

  .block-social {
    a {
      width: 155px;
      height: 55px;
      font-size: 14px;
      
      i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
      }
    }

  }

  .about-features {
    justify-content: center;
  }

  .content-style1 {
    .vs-btn {
      margin: 23px 0 0 0;
    }

    .about-text {
      margin: 0 0 24px 0;
    }
  }

  .counter-style1 {
    span:not(.number):not(.message) {
      display: inline-block;
      margin-bottom: 30px;
    }
  }

  .img-box4 {
    .content {
      left: 24%;
      bottom: 9%;
    }
  }

  .video-box {
    img {
      width: 100%;
    }
  }
}



@include sm {
  .block-schedule .text {
    font-size: 16px;
    line-height: 26px;
  }
  
  .img-box1 {
    width: 100%;
    max-width: 350px;

    >img {
      max-width: 350px;
      width: 100%;
    }

    .img1 {
      left: 0;
      right: 0;
      text-align: center;
      top: 2%;
    }
  }

  .img-box2 {
    .img-2 {
      max-width: 150px;
      top: -25px;
      right: 0;
    }
  }

  .counter-style1 {
    .number {
      display: block;
      font-size: 30px;
    }

    span:not(.number) {
      width: 65px;
      height: 65px;
      padding: 9px 0;
      font-size: 16px;
    }
  }

  .content-style1 {
    .about-text {
      font-size: 16px;
      line-height: 26px;
    }

    .about-title {
      font-size: 26px;
      line-height: 34px;
    }

    .about-subtitle {
      font-size: 24px;
    }

    .about-price {
      font-size: 20px;

      del {
        font-size: 16px;
      }
    }
  }

  .img-box4 {
    .title {
      font-size: 18px;
      margin-bottom: 5px;
    }

    .text {
      font-size: 15px;
      line-height: 24px;
      max-width: 190px;
    }
  }

  .img-box4 {
    .img-2 {
      bottom: 0;
    }
  }
}

@include xs {
  .block-social {
    a {
      width: 135px;
      height: 55px;
      font-size: 14px;
    }
  }
}