.vs-gallery-grid {
  position: relative;
  overflow: hidden;

  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: rgba(32, 80, 153, 0.4);
    transition: all ease 0.6s;
    z-index: 1;
  }

  &:before {
    bottom: 100%;
  }

  &:after {
    top: 100%;
  }

  .gallery-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    color: $white-color;
    font-size: 42px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.4s;
    transition-delay: 0s;
  }
  

  &:hover {
    .gallery-btn {
      opacity: 1;
      visibility: visible;
      transition-delay: 0.4s;
    }

    &::after {
      top: 0;
    }

    &:before {
      bottom: 0;
    }
  }
}

@media (min-width: $xl) {
  .gallery-wrap1 {
    width: 690px;
  }
}

.gallery-style1 {
  margin-bottom: 10px;
  position: relative;

  .gal-img {
    overflow: hidden;

    img {
      transform: scale(1);
      transition: all ease 0.4s;
    }
  }

  .gal-icon {
    position: absolute;
    right: 12px;
    bottom: 12px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    z-index: 3;
    background-color: rgba(#000000, 0.60);
    color: $white-color;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    transition: all ease 0.4s;

    &:hover {
      background-color: $theme-color;
      color: $white-color;
    }
  }

  &:hover {
    .gal-img {
      img {
        transform: scale(1.1);
      }
    }
  }
  
}


@media (min-width: $lg) and (max-width: $xl) {
  .gallery-wrap1 {
    .grid-item {
      width: 49%;
      max-width: 50%;
    }
  }
}

