.vs-newsletter-wrpper {
  .inner-wrap1 {
    border-radius: 10px;
  }
}


.newsletter-style1 {
  position: relative;

  input {
    border: none;
    height: 65px;
    border-radius: 9999px;
    padding-left: 40px;

    &:focus {
      border: none;
    }
  }

  .vs-btn {
    position: absolute;
    top: 7px;
    right: 7px;
    box-shadow: none;
  }
  
}


.newsletter-style3 ,
.newsletter-style2 {
  .form-group {
    display: flex;
    margin: 40px auto 0 auto;
    max-width: 785px;
  }

  .form-control {
    flex: 1;
    height: 71px;
    font-size: 16px;
    color: #202020;
    padding: 0 0 0 40px;
    border: none;
    border-radius: 9999px;
    margin-right: 12px;

    @include inputPlaceholder {
      color: #202020;
    }
  }
}


.newsletter-style2 {
  text-align: center;
  padding: 130px 0;
  position: relative;
  // max-width: 1030px;
  margin: 0 auto;

  &[data-bg-src] {
    background-size: auto;
    background-position: center center;
  }

  .sub-title4 {
    color: #000000;
  }

  .shape-1 {
    position: absolute;
    right: 4%;
    top: -6%;

    img {
      max-width: initial;
    }
  }
}

.newsletter-style3 {
  max-width: 1367px;
  margin: 0 auto;
  padding: 59px 90px;
  background-position: center center;

   .form-group {
    width: 675px;
    max-width: 100%;
    margin: 0;
   }

  .sub-title4 {
    font-size: 30px;
    color: #000000;
  }

  .form-title {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
  }
}


@include lg {
  .newsletter-style2 {
    padding: 85px 0 75px 0;

    &[data-bg-src] {
      background-size: 100%;
      background-position: center center;
    }

    .shape-1 {
      max-width: 100%;
      max-height: 100%;

      img {
        max-width: 100%;
      }
    }
  }

  .newsletter-style3 {
    .form-group {
      margin: 0 auto;
    }

    .form-title {
      font-size: 36px;
    }

    .sub-title4 {
      font-size: 24px;
    }
  }
}

@include md {
  .vs-newsletter-wrpper {
    .inner-wrap1 {
      &.px-70.py-70 {
        padding: 40px;
      }
    }
  }

  .newsletter-style2 {
    padding: 65px 20px 75px 20px;

    &[data-bg-src] {
      background-size: cover;
    }
    
    .form-control {
      height: 50px;
      font-size: 14px;
      margin: 0 auto 15px auto;
    }

    .form-group {
      display: block;
    }
  }

  .newsletter-style3 {
    .form-group {
      display: block;
    }

    .form-control {
      margin-bottom: 15px;
    }
  }


}

@include sm {
  .vs-newsletter-wrpper {
    .inner-wrap1 {
      &.px-70.py-70 {
        padding: 30px 15px;
      }
    }
  }

  .newsletter-style1 {
    text-align: center;

    input {
      height: 50px;
    }
    
    .vs-btn {
      position: relative;
      top: 0;
      right: 0;
      margin-top: 15px;
    }
  }


  .newsletter-style3 {
    padding: 60px 20px;

    .form-control {
      height: 50px;
      font-size: 14px;
      margin-bottom: 15px;
    }

    .form-title {
      font-size: 30px;
    }

    .sub-title4 {
      font-size: 20px;
    }
  }
}

