.vs-widget-recent-post {
  margin-top: 30px;
  
  a {
    color: inherit;
  }

  .recent-post {
    border-bottom: 1px solid #f7f8fc;
    padding-bottom: 25px;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }


    &:last-child {
      margin-bottom: 0;
    }
  }

  
  
}

