.widget {
  .search-form {
    margin-top: 20px;
    position: relative;
    
    input {
      width: 100%;
      height: 40px;
      background-color: $white-color;
      border: 1px solid #dddee6;
      color: $title-color;
      font-size: 14px;
      padding-left: 20px;
      border-radius: 9999px;
      padding-right: 45px;

      @include inputPlaceholder {
        color: $body-color2;
      }
    }

    button {
      padding: 0;
      border: none;
      color: #edd7d7;
      background-color: transparent;
      line-height: 1;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);

      &:hover {
        color: $title-color;
      }
    }
  }
}