@media (min-width: $lg) {

  /*-- Padding Left And Right --*/
  @for $i from 1 through $xl-space-count {
    .px-xl-#{5 * $i} {
      padding-right: 5px *$i;
      padding-left: 5px *$i;
    }
  }

  /*-- Padding Top And Bottom --*/
  @for $i from 1 through $xl-space-count {
    .py-xl-#{5 * $i} {
      padding-top: 5px *$i;
      padding-bottom: 5px *$i;
    }
  }

  /*-- Padding Top --*/
  @for $i from 1 through $xl-space-count {
    .pt-xl-#{5 * $i} {
      padding-top: 5px *$i;
    }
  }

  /*-- Padding Bottom --*/
  @for $i from 1 through $xl-space-count {
    .pb-xl-#{5 * $i} {
      padding-bottom: 5px *$i;
    }
  }

  /*-- Padding Left --*/
  @for $i from 1 through $xl-space-count {
    .pl-xl-#{5 * $i} {
      padding-left: 5px *$i;
    }
  }

  /*-- Padding Right --*/
  @for $i from 1 through $xl-space-count {
    .pr-xl-#{5 * $i} {
      padding-right: 5px *$i;
    }
  }

}