@media (min-width: $md) {

  /*-- Padding Left And Right --*/
  @for $i from 1 through $lg-space-count {
    .px-lg-#{5 * $i} {
      padding-right: 5px *$i;
      padding-left: 5px *$i;
    }
  }

  /*-- Padding Top And Bottom --*/
  @for $i from 1 through $lg-space-count {
    .py-lg-#{5 * $i} {
      padding-top: 5px *$i;
      padding-bottom: 5px *$i;
    }
  }

  /*-- Padding Top --*/
  @for $i from 1 through $lg-space-count {
    .pt-lg-#{5 * $i} {
      padding-top: 5px *$i;
    }
  }

  /*-- Padding Bottom --*/
  @for $i from 1 through $lg-space-count {
    .pb-lg-#{5 * $i} {
      padding-bottom: 5px *$i;
    }
  }

  /*-- Padding Left --*/
  @for $i from 1 through $lg-space-count {
    .pl-lg-#{5 * $i} {
      padding-left: 5px *$i;
    }
  }

  /*-- Padding Right --*/
  @for $i from 1 through $lg-space-count {
    .pr-lg-#{5 * $i} {
      padding-right: 5px *$i;
    }
  }

}