.space,
.space-top {
  padding-top: $space;
}

.space,
.space-bottom {
  padding-bottom: $space;
}

.space-md,
.space-md-top {
  padding-top: $space-medium;
}

.space-md,
.space-md-bottom {
  padding-bottom: $space-medium;
}


@include md {
  .space,
  .space-top {
    padding-top: $space-md;
  }

  .space,
  .space-bottom {
    padding-bottom: $space-md;
  }

  .space-md,
  .space-md-top {
    padding-top: $space-medium-md;
  }

  .space-md,
  .space-md-bottom {
    padding-bottom: $space-medium-md;
  }
}