.cat-box {
  text-align: center;
  margin: 0 0 30px 0;

  &__img {
    margin: 0 0 28px 0;
  }

  &__title {
    margin: 0 0 10px 0;
    font-size: 26px;

    a {
      color: inherit;

      &:hover {
        color: $theme-color;
      }
    }
  }

  &__text {
    max-width: 300px;
    display: inline-block;
    margin: 0;
    line-height: 26px;
  }
}


.cat-style1 {
  margin-bottom: 30px;
  
  .cat-body {
    position: relative;
    text-align: center;
    width: 210px;
    margin: 0 auto;
    max-width: 100%;
  }

  .cat-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 40px);
    border: 2px solid var(--stroke-color, #b1a77f);
    background-color: $white-color;
    border-radius: 110px 110px 0 0;
  }

  .cat-title,
  .cat-text,
  .cat-img {
    position: relative;
    z-index: 1;
  }

  .cat-title {
    font-size: 25px;
    margin: 0;
    padding: 22px 0 0 0;
  }

  .cat-text {
    font-size: 14px;
    margin: 0;
    padding: 0 0 22px 0;
  }

  &:nth-child(3n+2) {
    --stroke-color: #d57373;
  }

  &:nth-child(4n+3) {
    --stroke-color: #8fb9df;
  }

  &:nth-child(5n+4) {
    --stroke-color: #ffbff9;
  }

  &:nth-child(6n+5) {
    --stroke-color: #62eeae;
  }  

  &:nth-child(odd) {
    .cat-body {
      display: flex;
      flex-direction: column-reverse;
    }

    .cat-title {
      order: 1;
    }

    .cat-shape {
      top: 0;
      bottom: auto;
      border-radius: 0 0 110px 110px;
    }
  }
}

.cat-style2 {
  text-align: center;
  padding: 68px 30px 0 30px;
  
  .cat-title {
    font-size: 65px;
    line-height: 68px;
    font-family: $theme-font3;
    max-width: 290px;
    margin: 0 auto 30px auto;
    color: rgba(#000000, 1);
  }

  .cat-link {
    font-size: 28px;
    font-family: $theme-font3;
    line-height: 1;
    font-weight: 700;
    color: rgba(#000000, 1);
    text-decoration: underline;
  }

  .cat-shape {
    height: 214px;
    text-align: center;
    line-height: 214px;
    margin: 30px 0 -107px 0;
    position: relative;
    z-index: 1;
  }


  .cat-img {
    img {
      width: 100%;
    }
  }


  &.no-1 {
    background-color: #fff343;
  }

  &.no-3 {
    background-color: #efe3ff;
  }
}


@include lg {
  .cat-style2 {
    padding: 58px 15px 0 15px;

    .cat-title {
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 15px;
    }

    .cat-link {
      font-size: 24px;
    }

    .cat-shape {
      height: 150px;
      line-height: 150px;
      margin: 30px auto -75px auto;
      max-width: 120px;
    }
  }
}