.filter-menu-style1 {
  
  button {
    border: none;
    text-align: center;
    display: inline-block;
    background-color: transparent;
    position: relative;
    color: #140735;
    font-weight: 700;
    padding-right: 37px;
    margin-right: 15px;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: 95% 10px;

    i {
      margin-bottom: 10px;
      display: block;
      font-size: 2rem;
      font-weight: 400;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      background-image: none !important;
    }

    &.active,
    &:hover {
      color: $theme-color;
    }
    
  }
}

.filter-menu2 {
  position: absolute;
  left: -87px;
  top: 0;
  
  button {
    border: none;
    background-color: transparent; 
    color: $title-color;
    width: var(--icon-size, 60px);
    height: var(--icon-size, 60px);
    line-height: var(--icon-size, 62px);
    font-size: var(--font-size, 26px);
    margin: 0 0 8px 0;
    display: block;
    position: relative;
    transition: all ease 0.4s;

    i {
      position: relative;
      z-index: 3;
    }

    .bg-2,
    .bg-1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      transition: all ease 0.4s;
      opacity: 1;
      visibility: visible;
      width: 100%;
      height: 100%;
    }

    .bg-2 {
      opacity: 0;
      visibility: hidden;
    }

    &:hover,
    &.active {
      color: $white-color;
      
      .bg-1 {
        opacity: 0;
        visibility: hidden;
      }

      .bg-2 {
        opacity: 1;
        visibility: visible;
      }
    }

  }
}

.filter-menu3 {
  text-align: center;
  width: max-content;
  margin: 0 auto;
  background-color: $white-color;
  border: 2px solid $theme-color;
  border-radius: 9999px;
  margin: 0 auto 40px auto;
  
  button {
    border: none;
    background-color: transparent;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    line-height: 1;
    padding: 22px 46.5px;
    border-radius: 9999px;
    
    
    &:hover,
    &.active {
      background-color: $theme-color;
      color: $white-color;
    }

    i {
      margin: 0 10px 0 0;
    }

    &:first-child {
      margin-left: -1px;
    }

    &:last-child {
      margin-right: -1px;
    }
  }
}

.filter-menu4 {
  button {
    border: none;
    background-color: transparent;
    display: block;
    text-align: left;
    padding: 36px 30px 36px 140px;
    margin: 10px 0 10px 0;
    position: relative;    
    width: 100%;
    max-width: 330px;
    --stroke-color: #b2a87f;
    border-radius: 9999px;
    transition: all ease 0.4s;
    text-align: start;

    &:before {
      content: '';
      position: absolute;
      top: 10px;
      right: 0;
      bottom: 10px;
      left: 30px;
      border: 2px solid var(--stroke-color);
      border-radius: inherit;
      transition: all ease 0.4s;
    }


    &:after {
      content: '';
      position: absolute;
      right: -9px;
      top: 50%;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid var(--stroke-color);
      transform: translateY(-50%);
      transition: all ease 0.4s;
      opacity: 0;
      visibility: hidden;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &.active,
    &:hover {
      .title,
      .text {
        color: $white-color;
      }
      
      &:before {
        background-color: var(--stroke-color);
        border-color: transparent;
      }
    }

    &.active {
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }

    &:nth-child(3n+2) {
      --stroke-color: #d57373;
    }

    &:nth-child(4n+3) {
      --stroke-color: #8fb9df;
    }

    &:nth-child(5n+4) {
      --stroke-color: #ffbff9;
    }

    &:nth-child(6n+5) {
      --stroke-color: #62eeae;
    }
  }


  img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .title {
    display: block;
    color: #111111;
    font-size: 22px;
    font-weight: 700;   
    margin: 2px 0 5px 0;
    transition: all ease 0.4s;
    position: relative;
    z-index: 2;
  }
  
  
  .text {
    font-size: 15px;
    color: #666666;
    position: relative;
    z-index: 2;
    transition: all ease 0.4s;
  }

  

}

@include ml {
  .filter-menu2 {
    position: relative;
    left: 0;
    text-align: center;
    margin-bottom: 30px;

    button {
      display: inline-block;
    }
  }
}

@include lg {

  .filter-menu4 {
    button {
      padding: 25px 30px 25px 120px;

      img {
        max-width: 105px;
      }
    }
  }
} 

@include md {
  .filter-menu-style1.mb-65 {
    margin-bottom: 35px;
  }

  .filter-menu4 {
    text-align: center;
    margin-bottom: 25px;

    button {
      display: inline-block;
      margin: 10px;
      max-width: 45%;

      &:after {
        display: none;
      }
    }

    .title {
      font-size: 18px;
    }
  }

}

@include sm {
  .filter-menu3 {
    button {
      font-size: 14px;
      padding: 15.5px 24px;
    }
  }

  .filter-menu4 {
    button {
      padding: 25px 30px 25px 100px;
      max-width: 45%;
      display: inline-block;

      img {
        max-width: 85px;
      }
    }
  }
}


@include xs {
  .filter-menu-style1  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    button {
      background-size: 0 0;
      margin-right: 20px;
      padding: 0;
      font-size: 13px;

      i {
        font-size: 1.5rem;
        margin-bottom: 5px;
      }

    }
  }

  .filter-menu4 {
    button {
      max-width: 95%;
      padding: 20px 30px 20px 100px;
      
      &:before {
        top: 0;
        bottom: 0;
      }
    }
  }
  
}