.product-tag2,
.product-tag1 {
  background-color: $theme-color;
  color: $white-color;
  text-transform: capitalize;
  display: inline-block;
  position: absolute;
  min-width: 60px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  text-align: center;
  z-index: 2;
}

.product-rating-box {
  font-size: 10px;
  color: $white-color;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 0 0;
  width: max-content;
  padding: 0 0 2px 7px;
  border-radius: 9999px;
  position: relative;
  z-index: 1;
  margin: 0 0 20px 0;

  &::after,
  &::before {
    content: '';
    position: absolute;
    background-color: #fdba0a;
    z-index: -1;
  }

  &::after {
    width: 26px;
    height: 26px;
    border: 1px solid $white-color;
    top: 50%;
    left: 0;
    margin: -13px 0 0 0;
    border-radius: 50%;
  }

  &:before {
    height: 18px;
    left: 5px;
    top: 50%;
    right: 0;
    margin: -9px 0 0 0;
    border-radius: 9999px 9999px 9999px 9999px;
  }

  .star-rating {
    font-size: 8px;
    display: inline-block;
    top: 1.95px;
    width: 67px;
    margin: 0 0 0 12px;
    --theme-color: #fff;
  }
}

.vs-product-box1 {
  text-align: center;
  background-color: $white-color;
  position: relative;
  margin-bottom: 30px;
  box-shadow: none;
  transition: all ease 0.4s;
  
  .product-img {
    border: 1px solid $secondary-color;
    border-bottom: none;
    transition: all ease 0.4s;
  }
  
  a {
    color: inherit;
    
    &:hover {
      color: $theme-color;
    }
  }
  
  .product-content {
    padding: 20px 0;
    background-color: $secondary-color;
    position: relative;
  }

  

  .product-tag1 {
    left: -40px;
    top: 0;
    transform: rotate(-90deg);
    transform-origin: top right;
  }

  .product-tag2 {
    right: 0;
    top: 10px;
  }

  .actions-btn {
    background-color: $white-color;
    width: fit-content;
    display: inline-block;
    box-shadow: 0px 7px 65px 0px rgba(163, 163, 163, 0.2);
    border-radius: 9999px;
    padding: 3px;
    line-height: 0;
    position: absolute;
    left: 50%;
    top: -19px;
    margin-top: -30px;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.4s;

    a {
      display: inline-block;
      width: 25px;
      height: 25px;
      line-height: 25px;
      font-size: 12px;
      color: $body-color;
      background-color: $white-color;
      border-radius: 50%;

      &:hover {
        background-color: $body-color;
        color: $white-color;
      }
    }
  }


  .base {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 737px;
    top: 3837px;
    width: 120px;
    height: 28px;
    z-index: 249;
  }

  .price {
    font-size: 14px;
  }

  
  &:hover {
    box-shadow: 0px 7px 65px 0px rgba(163, 163, 163, 0.2);
    
    .product-img {
      border-color: transparent;
    }

    .actions-btn {
      opacity: 1;
      visibility: visible;
      margin-top: 0;
    }
  }
}


.dishes-box {
  position: relative;
  padding: 10px;
  border: 1px solid $theme-color;

  .product-tag1 {
    right: auto;
    top: 10px;
    left: 0;
    border-radius: 0 30px 30px 0;
    background-color: $body-color;
    color: $white-color;
  }

  .dishes-img {
    position: relative;
  }

  .flash-counter {
    background-color: $theme-color;
    border-radius: 5px;
    justify-content: center;
    margin: 0 18px;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    margin-top: -25px;
    position: relative;
    z-index: 1;

    >*:not(.message) {
      &:before {
        margin: 0 10px;
      }
    }
  }

  .rating {
    margin: 8px 0 0 0;
  }

  .dishes-content {
    padding: 33px 30px 27px 30px;
  } 
  
}

.vs-product-box5,
.vs-product-box4,
.vs-product-box3 {
  .product-img {
    position: relative;
  }

  .product-tag1,
  .product-tag2,
  .product-tag3 {
    min-width: auto;
    width: var(--tag-size, 45px);
    height: var(--tag-size, 45px);
    line-height: var(--tag-size, 45px);
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    font-size: 12px;
    right: 20px;
    top: 20px;
    left: auto;
    border-radius: 50%;
    z-index: 1;
    display: inline-block;
    color: $white-color;
    position: absolute;

    &:nth-of-type(2) {
      right: 62px;
      z-index: 2;
    }

    &:nth-of-type(3) {
      right: 105px;
      z-index: 2;
    }
  }

  .product-tag1 {
    background-color: #f12525;
  }
  
  .product-tag2 {
    background-color: #6f9ee3;
  }

  .product-tag3 {
    background-color: #14db63;
  }
}

.vs-product-box3 {
  background-color: $white-color;
  position: relative;
  margin-bottom: 2px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#fcd55c, 0.95);
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.4s;
  }
  
  .actions-btn {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    z-index: 5;
    transform: translateY(-50%);
    
    .icon-btn {
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 17px;
      background-color: $white-color;
      color: $title-color;
      margin: 0 2px 0 2px;
      opacity: 0;
      visibility: hidden;
      transition: all ease 0.4s;
      transform: translateY(-30px);
      position: relative;
      top: -8px;

      &:hover {
        background-color: $theme-color;
        transition-delay: 0;
        color: $white-color;
      }
    }
  }

  .cart-btn {
    width: max-content;
    display: block;
    margin: 0 auto 0 auto;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.4s;
    transform: translateY(30px);
    position: relative;
    top: 8px;      
  }

  .product-img {    
    img {
      width: 100%;
    }
  }

  .product-content {
    padding: 0 30px 22px 30px;
  }

  .product-title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 2px 0;
    
    a {
      color: inherit;
    }
  }

  .price {
    color: #76a713;
    font-family: $body-font;
    font-size: 15px;

    del {
      color: #898989;
      margin-left: 5px;
      font-size: 13px;
    }
  }


  &:hover {
    &:before {
      opacity: 1;
      visibility: visible;
    }

    .cart-btn,
    .actions-btn .icon-btn {
      opacity: 1;
      visibility: visible;
      transform: translateY(1px);
      transition-delay: 0.2s;

      &:hover {
        transition-delay: 0;
      }
    }
  }


  &.style2 {
    border: 1px solid #f7d15b;
  }

  &.style3 {
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
  }

}

.vs-product-box4 {
  background-color: $white-color;
  padding: 0.1px 0.1px 0 0.1px;
  margin: 0 0 39px 0;
  
  .product-img {
    position: relative;
    border: 2px solid #fcd55c;
    margin: 10px 10px 0 10px;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #76a713;
      z-index: 4;
      opacity: 0;
      visibility: hidden;
      transition: all ease 0.4s;
    }
    
    img {
      width: 100%;
    }

    .product-rating-box {
      position: absolute;
      left: 10px;
      bottom: 15px;
      margin: 0;
    }
  }

  .product-tag1 {
    top: 10px;
    right: 10px;
  }

  .product-title {
    font-size: 22px;
    color: #171717;
    margin: 0 0 5px 0;

    a {
      color: inherit;

      &:hover {
        color: $theme-color;
      }
    }
  }

  .product-quantity {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    text-transform: uppercase;
    margin: 0 0 22px 0;

    .text {
      margin: 0 0 0 5px;
    }
  }


  .price {
    font-size: 20px;
    font-weight: 500;
    color: #444444;
    display: inline-block;

    del {
      font-size: 17px;
      margin: 0 0 0 10px;
    }
  }

  .product-discount {
    color: $theme-color;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    margin: 0 0 0 5px;
  }

  .product-content {
    padding: 20px 25px 18px 25px;
  }

  .product-cart-btn {
    display: block;
    background-color: #fdba0a;
    color: $white-color;
    line-height: 1;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 15px 27px;
    position: relative;
    transition: all ease 0.4s;

    i {
      display: inline-block;
      width: 60px;
      height: 60px;
      line-height: 57px;
      border: 3px solid #fffbc1;
      text-align: center;
      font-size: 20px;
      position: absolute;
      right: 20px;
      top: 50%;
      border-radius: 50%;
      background-color: #fdba0a;
      margin: -30px 0 0 0;
      transition: all ease 0.4s;
    }
  }

  
  .actions-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 5;
    
    .icon-btn {
      display: block;
      width: 42px;
      height: 42px;
      line-height: 42px;
      font-size: 16px;
      color: $title-color;
      background-color: $white-color;
      margin: 5px 0 0 0;
      transition: all ease 0.4s;
      opacity: 0;
      visibility: hidden;
      transform: translateX(50px);
    }
  }

  
  &:hover {
    .product-img {
      &:before {
        opacity: 0.50;
        visibility: visible;
      }
    }

    .product-cart-btn {
      background-color: $theme-color;
      color: $white-color;

      i {
        background-color: $theme-color;
        color: $white-color;
      }
    }

    .actions-btn {
      .icon-btn {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 0.1s;

        &:nth-child(2) {
          transition-delay: 0.15s;
        }

        &:nth-child(3) {
          transition-delay: 0.2s;
        }
      }
    }
  } 
}

.vs-product-box5 {
  border: 1px solid #eeeeee;
  margin: 0 0 60px 0;
  transition: all ease 0.4s;

  .product-tag3,
  .product-tag2,
  .product-tag1 {
    right: 7px;
    top: 7px;
  }

  .product-title {
    font-size: 20px;
    margin: 0 0 2px 0;

    a {
      color: inherit;
    }
  }

  .product-quantity {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase;
    margin: 0 0 0 0;
  }


  .product-bottom {
    min-height: 124px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 20px 0;
  }

  .product-rating-box {
    margin: 0 0 17px 0;
  }

  .price {
    font-size: 18px;
    color: #444444;
    margin: 0 0 2px 0;

    del {
      font-size: 16px;
      margin-left: 7px;
    }
  }

  .product-discount {
    display: block;
    font-weight: 700;
    color: $theme-color;    
  }

  .product-cart-btn {
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    border: 1px solid #eeeeee;
    background-color: $white-color;
    border-radius: 50%;
    position: relative;
    box-shadow: none;
  }


  .product-content {
    padding: 0 20px 0 20px;
    margin: 0 0 -30px 0;
    position: relative;
    z-index: 3;
  }


  &:hover {
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.03);

    .product-cart-btn {
      background-color: $theme-color;
      color: $white-color;
      border-color: transparent;
      box-shadow: 0 0 0 4px rgba(#76a713, 0.43);
    }
  }

}

.vs-product-box6 {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid #eeeeee;
  position: relative;
  margin: 0 0 75px 0;

  .product-title {
    font-size: 22px;
    margin: 0 0 5px 0;
    font-weight: 700;
    
    a {
      color: inherit;

      &:hover {
        color: $theme-color;
      }
    }
  }

  .price {
    font-size: 18px;
    color: $theme-color;
    font-weight: 700;
    display: block;

    del {
      color: #898989;
      font-size: 13px;
      margin-left: 8px;
    }
  }

  .product-cart-btn {
    font-size: 16px;
    color: $title-color;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    display: inline-block;
    margin: 30px 0 0 0;
  }

  .counter-style1 {
    display: flex;
    gap: 2px;
    margin: 30px 0 0 0;
    position: absolute;
    left: 40px;
    bottom: -45px;

    span {
      margin: 0;
    }
  }

  .product-content {
    padding: 40px 30px 80px 40px;
    flex: 1;
    position: relative;
  }
  

  .product-shape {
    position: absolute;
    right: 0;
    top: 0;

  }

  .product-img {
    position: relative;
  }

}

@include lg {
  .vs-product-box6 {
    .product-img {
      max-width: 210px;
    }

    .product-content {
      padding: 30px 10px 70px 30px;
    }

    .counter-style1 {
      left: 30px;
    }

    .product-cart-btn {
      margin: 20px 0 0 0;
    }
  }
}


@include md {
  .dishes-box .dishes-content {
    padding: 23px 20px 17px 20px;
  }

  .vs-product-box6 {
    display: block;

    .product-img {
      max-width: 100%;
      margin: 0;
    }

    .product-content {
      padding: 10px 20px 30px 20px;
    }

    .counter-style1 {
      left: 0;
      right: 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      position: relative;
      bottom: 0;

      span:not(.number) {
        width: auto;
        height: auto;
        font-size: 18px;
        margin-bottom: 0;
      }

      .number {
        font-size: 36px;
        margin-bottom: 5px;
      }
    }


  }

  .vs-product-box5 {
    .product-title {
      font-size: 19px;
      margin: 0 0 7px 0;
    }

    .product-bottom {
      min-height: 100px;
      margin: 0 0 20px 0;
    }
  }
}