.vs-testimonial-wrapper {

  .shape1 {
    position: absolute;
    left: 15%;
    top: 8%;
    animation-delay: 3s;
  }

  .shape2 {
    position: absolute;
    right: 10%;
    bottom: 25%;
  }

}


.testimonial-box {
  background-color: $white-color;
  position: relative;
  padding: 40px 40px 18px 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: all ease 0.4s;

  .quote-icon {
    position: absolute;
    right: 50px;
    top: 50px;
    line-height: 1;
    color: #e5d8d8;
    font-size: 48px;  
  }

  &:hover {
    box-shadow: 0px 11px 42.14px 0.86px rgba(221, 221, 221, 0.3);
  }


  &.bg-dark {
    &:hover {
      box-shadow: none;
    }
  }
  
}



.testimonial-arrow {
  position: absolute;
  top: calc(50% - 15px);
  left: -50px;
  z-index: 31;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.4s;

  &[data-slick-next] {
    left: auto;
    right: -50px;
    transform: translate(50%, -50%);
  }
}


.container {
  &:hover {
    .testimonial-arrow {
      opacity: 1;
      visibility: visible;
      left: 0;

      &[data-slick-next] {
        left: auto;
        right: 0;
      }
    }
  }
}


.testi-style1 {
  .testi-text {
    font-size: 20px;
    line-height: 36px;
    color: #333333;
    margin: 0 0 20px 0;
  }

  .testi-bottom {
    display: flex;
    align-items: center;
  }

  .testi-quote {
    margin-right: 15px;
  }

  .testi-name {
    margin: 0;
  }

  .testi-degi {
    color: #333333;
    font-size: 14px;
    margin: 5px 0 0 0;
  }
}

.testi-img1 {
  margin-top: -50px;
}

.testi-slideTab {
  background-color: #fcdc76;
  padding: 10px 15px 10px 15px;
  border-radius: 9999px;
  position: absolute;
  left: 120px;
  bottom: 95px;

  .tab-btn {
    border: none;
    padding: 0;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 3px solid $white-color;
    position: relative;
    border-radius: 50%;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: $theme-color;
      opacity: 0;
      visibility: hidden;
      transition: all ease 0.4s;
    }

    &:not(:first-child) {
      margin-left: -12px;
    }

    img {
      width: 100%;
    }

    &.active {
      &:before {
        opacity: 0.50;
        visibility: visible;
      }
    }
  }
}

@include lg {
  .testi-slideTab {
    left: 50px;
    bottom: 50px;
  }

  .testi-img1 {
    margin-top: 0;
  }
}

@include md {
  .testimonial-box {
    padding: 30px 30px 10px 30px;

    .quote-icon {
      display: none;
    }
  }
}

@include sm {
  .testimonial-box {
    padding: 20px 20px 1px 20px;

    .quote-icon {
      display: none;
    }
  }

  .testi-slideTab {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 15px 0 25px 0;
  }

  .testi-style1 {
    .testi-text {
      font-size: 18px;
      line-height: 30px;
      margin: 0 0 20px 0;
    }
  }
}