/*-- margin Left And Right --*/
@for $i from 1 through $xs-space-count {
  .mx-#{5 * $i} {
    margin-right: 5px *$i;
    margin-left: 5px *$i;
  }
}

/*-- margin Top And Bottom --*/
@for $i from 1 through $xs-space-count {
  .my-#{5 * $i} {
    margin-top: 5px *$i;
    margin-bottom: 5px *$i;
  }
}

/*-- margin Top --*/
@for $i from 1 through $xs-space-count {
  .mt-#{5 * $i} {
    margin-top: 5px *$i;
  }
}

/*-- margin Bottom --*/
@for $i from 1 through $xs-space-count {
  .mb-#{5 * $i} {
    margin-bottom: 5px *$i;
  }
}

/*-- margin Left --*/
@for $i from 1 through $xs-space-count {
  .ml-#{5 * $i} {
    margin-left: 5px *$i;
  }
}

/*-- margin Right --*/
@for $i from 1 through $xs-space-count {
  .mr-#{5 * $i} {
    margin-right: 5px *$i;
  }
}
