@media (min-width: $lg) {

  /*-- margin Left And Right --*/
  @for $i from 1 through $xl-space-count {
    .mx-xl-#{5 * $i} {
      margin-right: 5px *$i;
      margin-left: 5px *$i;
    }
  }

  /*-- margin Top And Bottom --*/
  @for $i from 1 through $xl-space-count {
    .my-xl-#{5 * $i} {
      margin-top: 5px *$i;
      margin-bottom: 5px *$i;
    }
  }

  /*-- margin Top --*/
  @for $i from 1 through $xl-space-count {
    .mt-xl-#{5 * $i} {
      margin-top: 5px *$i;
    }
  }

  /*-- margin Bottom --*/
  @for $i from 1 through $xl-space-count {
    .mb-xl-#{5 * $i} {
      margin-bottom: 5px *$i;
    }
  }

  /*-- margin Left --*/
  @for $i from 1 through $xl-space-count {
    .ml-xl-#{5 * $i} {
      margin-left: 5px *$i;
    }
  }

  /*-- margin Right --*/
  @for $i from 1 through $xl-space-count {
    .mr-xl-#{5 * $i} {
      margin-right: 5px *$i;
    }
  }

}