<!doctype html>
{% load static %}
<html class="no-js" lang="zxx" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Foodano - Organic Food Store HTML Template - Login & Register</title>
    <meta name="author" content="Vecuro">
    <meta name="description" content="Foodano - Organic Food Store HTML Template">
    <meta name="keywords" content="Foodano - Organic Food Store HTML Template" />
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;300;400;500;600;700&family=Amatic+SC:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/app.min.css"> -->
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css'%}">
    <!-- Flaticon -->
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.min.css'%}">
    <!-- Layerslider -->
    <link rel="stylesheet" href="{% static 'assets/css/layerslider.min.css'%}">
    <!-- Date Picker -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery.datetimepicker.min.css'%}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css'%}">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="{% static 'assets/css/slick.min.css'%}">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css'%}">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">

</head>

<body class=" ">


    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->



    <!--********************************
   		Code Start From Here 
	******************************** -->

    <!--==============================
     Preloader
  ==============================-->
    <div class="preloader  ">
        <button class="vs-btn preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <div class="loader-logo">
                <img src="{% static 'assets/img/logo.svg' %}" alt="Foodano">
            </div>
            <div class="loader-wrap pt-4">
                <span class="loader"></span>
            </div>
        </div>
    </div>
    <!--==============================
        Header Top
    ==============================-->

    <!--========================
    Sticky Header
========================-->
    <div class="sticky-header-wrap sticky-header py-2 py-lg-1">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-5 col-md-3">
                    <div class="logo">
                        <a href="index.html"><img src="{% static 'assets/img/logo.svg' %}" alt="Foodano"></a>
                    </div>
                </div>
                <div class="col-7 col-md-9 text-end position-static">
                    <nav class="main-menu menu-sticky1 d-none d-lg-block link-inherit">
                        <ul>
                            <li class="menu-item-has-children">
                                <a href="index.html">Home</a>
                                <ul class="sub-menu">
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="shop.html">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="login-register.html">Login & Register</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="blog.html">Blog</a>
                                <ul class="sub-menu">
                                </ul>
                            </li>
                            <li class="mega-menu-wrap menu-item-has-children">
                                <a href="#">Pages</a>
                                <ul class="mega-menu">
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
    Mobile Menu
  ============================== -->
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area">
            <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="index.html"><img src="{% static 'assets/img/logo.svg' %}" alt="Foodano"></a>
            </div>
            <div class="vs-mobile-menu link-inherit"></div><!-- Menu Will Append With Javascript -->
        </div>
    </div>
    <!--==============================

        Header Area
    ==============================-->
    <header class="header-wrapper header-layout3 header3-margin ">
        <div class="container py-30">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="header-logo">
                        <a href="index.html"><img src="{% static 'assets/img/logo.svg' %}" alt="Foodano"></a>
                    </div>
                </div>
                <div class="col-6 text-end">
                    <button type="button" class="vs-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                    <div class="head-top-links text-body2 d-none d-lg-flex justify-content-end align-items-center">
                        <a href="{% url 'wishList' %}" class="icon-btn has-badge bg3 ms-3 position-relative">
                            <i class="fal fa-heart"></i>
                            <span class="badge position-absolute top-0 start-100 translate-middle">0</span>
                        </a>
                        <a href="{% url 'mycart' %}" class="icon-btn has-badge bg3 ms-3 position-relative">
                            <i class="fal fa-shopping-cart"></i>
                            <span class="badge position-absolute top-0 start-100 translate-middle">1</span>
                        </a>
                        <div class="dropdown ms-3">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fal fa-user"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="{% url 'log_out' %}">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>                             
            </div>
        </div>
        <div class="container d-none d-lg-block">
            <div class="header3-inner position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-xl-7">
                        <nav class="main-menu menu-style1 mobile-menu-active menu-style2">
                            <ul>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'index' %}">Home</a>
                                    <ul class="sub-menu">
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="shop.html">Shop</a>
                                    <ul class="sub-menu">
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="blog.html">Blog</a>
                                    <ul class="sub-menu">
                                    </ul>
                                </li>
                                <li class="mega-menu-wrap menu-item-has-children">
                                    <a href="#">Pages</a>
                                    <ul class="mega-menu">
                                     
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html">Contact Us</a>
                                </li>
                                <li><a href="contact.html">log out</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-xl-5">
                        <form action="#" class="header-search">
                           
                            <input type="text" placeholder="Search your product" class="form-control">
                            <button type="submit" class="vs-btn">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper breadcumb-layout1 bg-fluid pt-200 pb-200" data-bg-src="{% static 'assets/img/breadcumb/breadcumb-img-1.jpg' %}">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Login & Register</h1>
                <ul class="breadcumb-menu-style1 mx-auto">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Login & Register</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="space-top space-md-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="page-10" class="post-10 page type-page status-publish hentry page--item">
                        <div class="woocommerce--content">
                            <div class="woocommerce">
                                <div class="woocommerce-notices-wrapper"></div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div class="login-register-wrapper">
                                            <div class="tab-btn mb-20">
                                                <ul class="nav nav-tabs login-tab" role="tablist">
                                                    <li class="nav-item" data-tab-select="login"><button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" role="tab" aria-controls="login" aria-selected="true">Log In</button></li>
                                                    <li class="nav-item" data-tab-select="register"><button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" role="tab" aria-controls="register" aria-selected="false">Register</button></li>
                                                </ul>
                                            </div>
                                            <div class="tab-content">
                                                <div class="tab-pane fade active show" data-tab="login" id="login" aria-labelledby="login-tab">
                                                    <form method="post" action="{% url 'login' %}" class="woocommerce-form login">
                                                        {% csrf_token %}
                                                        <p class="form-group"><input name="username" class="form-control border" type="text" placeholder="User Name"></p>
                                                        <p class="form-group"><input class="form-control border" name="password" type="password" placeholder="Password"></p>
                                                        <p class="form-group"><button type="submit" class="vs-btn">Login</button></p>
                                                        <p><a href="#" class="btn-inline">Forgot Your Password?</a></p>
                                                    </form>
                                                </div>

                                                <div class="tab-pane fade" data-tab="register" id="register" aria-labelledby="register-tab">
                                                    <form method="post" action="{% url 'register' %}" class="woocommerce-form register">
                                                        {% csrf_token %}
                                                        <p class="form-group"><input name="email" class="form-control" type="email" placeholder="Email"></p>
                                                        <p class="form-group"><input name="username" class="form-control" type="text" placeholder="User Name"></p>
                                                        <p class="form-group"><input class="form-control" name="password" type="password" placeholder="Password"></p>
                                                        <div>
                                                            <p>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#">privacy policy</a>.</p>
                                                        </div>
                                                        <p class="form-group mt-40"><button type="submit" class="vs-btn">Register</button></p>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
			Footer Area
	==============================-->
    <div class="bg2" data-bg-src="{% static 'assets/img/footer/footer-bg-1.jpg' %}">
        <!--==============================
    Subscribe Area
    ==============================-->


        <footer class="footer-wrapper footer-layout1">
            <div class="container">
                <div class="widget-area pt-100">
                    <div class="row align-items-start justify-content-between">
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="widget footer-widget  ">
                                <h3 class="widget_title">Contact Us</h3>
                                <div class="vs-widget-about">
                                    <p class="fs-md">6Fifth Avenue 5501, Broadway, New York Morris Street <br> London 1234</p>
                                    <p class="mb-1 link-inherit"><i class="fas fa-paper-plane me-3"></i><a href="mailto:foodano@example.com">foodano@example.com</a></p>
                                    <p class="mb-0 link-inherit"><i class="fal fa-fax me-3"></i><a href="tel:+123456789000">+(123) 4567 89000</a></p>
                                </div>
                            </div>
                        </div> 
                        <div class="col-sm-6 col-lg-2 col-xl-2">
                            <div class="widget widget_nav_menu  footer-widget  ">
                                <h3 class="widget_title">Useful Links</h3>
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About us</a></li>
                                        <li><a href="blog.html">Blogs</a></li>
                                        <li><a href="error.html">Terms Of Service</a></li>
                                        <li><a href="error.html">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2 col-xl-2">
                            <div class="widget  footer-widget  ">
                                <h3 class="widget_title">Follow Us Now</h3>
                                <div class="footer-social-links">
                                    <ul>
                                        <li><a href="htttps://google.com"><i class="fab fa-facebook-f"></i>facebook</a></li>
                                        <li><a href="htttps://google.com"><i class="fab fa-twitter"></i>twitter</a></li>
                                        <li><a href="htttps://google.com"><i class="fab fa-behance"></i>Behance</a></li>
                                        <li><a href="htttps://google.com"><i class="fal fa-basketball-ball"></i>dribvble</a></li>
                                        <li><a href="htttps://google.com"><i class="fab fa-linkedin-in"></i>linkedin</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xl-4">


                            <div class="widget footer-widget   ">
                                <h3 class="widget_title">Get Direction</h3>
                                <div class="footer-map pt-1">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.1583088354!2d-74.11976389828038!3d40.697663748695746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1612886249367!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" aria-hidden="false"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!--********************************
			Code End  Here 
	******************************** -->


    <!-- Scroll Top Top Button -->
    <a href="#" class="scrollToTop"><i class="far fa-angle-up"></i></a>




    <!--==============================
        All Js File
    ============================== -->
    <!-- Jquery -->
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <!-- <script src="assets/js/app.min.js"></script> -->
    <!-- Layerslider -->
    <script src="{% static 'assets/js/layerslider.utils.js' %}"></script>
    <script src="{% static 'assets/js/layerslider.transitions.js' %}"></script>
    <script src="{% static 'assets/js/layerslider.kreaturamedia.jquery.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Date Picker -->
    <script src="{% static 'assets/js/jquery.datetimepicker.min.js' %}"></script>
    <!-- Filter -->
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Jquery UI -->
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <!-- WOW JS (Animation JS) -->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <!-- Custom Carousel -->
    <script src="{% static 'assets/js/vscustom-carousel.min.js' %}"></script>
    <!-- Mobile Menu -->
    <script src="{% static 'assets/js/vsmenu.min.js' %}"></script>
    <!-- Form Js -->
    <script src="{% static 'assets/js/ajax-mail.js' %}"></script>
    <!-- Main Js File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>